[Desktop Entry]
Type=Application
Version=1.4
Name=ayat
Comment=Kur'an-ı Kerim - KSU Elektronik Mushaf projesi
Exec=ayat
Icon=ayat
Terminal=false
Categories=Utility;Education;
